@font-face {
  font-family: "beleren2016_small_capsregular";
  src: url("../styles/fonts/beleren2016-bold-demo.html") format("woff2"), url("../styles/fonts/beleren2016smallcaps-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "beleren2016regular";
  src: url("../styles/fonts/beleren2016-bold-webfont.woff2") format("woff2"), url("../styles/fonts/beleren2016-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "beleren2016_small_capsitalic";
  src: url("../styles/fonts/beleren2016smallcaps-bolditalic-webfont.woff2") format("woff2"), url("../styles/fonts/beleren2016smallcaps-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: url(../../images/backgroundMGT.jpg);
  background-position: center;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-logo {
  margin-top: 110px;
}

h2 {
  margin-top: 158px;
  font-family: "beleren2016_small_capsregular";
  font-weight: bold;
  font-size: 41px;
  color: #fff;
  text-shadow: 7px 17px 18px #000;
}

.ok-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#name {
  width: 328px;
  height: 55px;
  background: #000;
  border-style: Solid;
  border-color: #fbc42b;
  border-width: 1px;
  color: #fbc42b;
  font-family: "beleren2016regular";
  font-size: 29px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 20px 10px #fbc42b;
          box-shadow: 0px 0px 20px 10px #fbc42b;
}

#ok-button {
  cursor: pointer;
  margin-top: 100px;
  width: 156px;
  height: 43px;
  background: #000;
  border-style: Solid;
  border-color: #fbc42b;
  border-width: 1px;
  font-family: "beleren2016_small_capsregular";
  font-size: 28px;
  color: #fbc42b;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 20px #fbc42b;
          box-shadow: 0px 0px 20px #fbc42b;
  position: relative;
  -webkit-transition: color 1s;
  transition: color 1s;
}

#ok-button:hover {
  background: #fbc42b;
  color: #000;
}

#min-char,
#first-upper {
  display: none;
  font-family: "beleren2016regular";
  color: #000;
  background-color: #fbc42b;
  padding: 13px;
  text-align: center;
  letter-spacing: 1px;
  position: relative;
}

#footer {
  background-color: #000;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5rem;
}

footer > img {
  margin: 18px;
}

#copyright {
  float: right;
  margin: 18px;
}

#assig {
  font-family: "beleren2016_small_capsitalic";
  color: #fff;
  font-size: 13px;
}

#polarcape-logo {
  width: 90px;
  margin-left: 5px;
}

#copy-info {
  font-family: "beleren2016_small_capsitalic";
  font-size: 17px;
  color: #fff;
}
/*# sourceMappingURL=index.css.map */